{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "prettier"
  ],
  "ignorePatterns": ["node_modules", "build", ".cache"],
	"parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "unused-imports"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "printWidth": 100,
        "bracketSpacing": true,
        "singleQuote": false,
				"ignoreDeclarationSort": false
      }
    ],
		"no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
